@import url(https://fonts.googleapis.com/css?family=Cabin:600);
@import url(https://fonts.googleapis.com/css?family=Lato:300);

:focus{outline:none;}

.logo {
    color: white;
    text-shadow: 10;
    text-align: center;
    font-size: 70;
    font-family: "Cabin";
}

.slogan, .slogan2 {
    color: white;
    text-align: center;
    margin-top: -20;
    font-size: 20;
    font-family: "Lato";
}

.slogan {
    margin-top: -50;
}

.container {
    position:absolute;
    left: 50%;
    top: 50%;
    height: 300;
    margin-top: -150;
    width: 500;
    margin-left: -250;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form {
    text-align: center;
    padding: 50;
    margin-top: -50;
}

#form, #button {
    width: 50%;
    height: 50;
}

#button {

    background-color: aliceblue;
    opacity: 0.8;
}

input {
    text-align: center;
    font-family: "Lato";
    font-size: 15;
    font-weight:bolder;
}