<body id="img">
<form action="/urls" method="post">
    <input id="form" type ="text" name="long_url" placeholder="Url Here">
</form>
<div class="button">
    <input id="button" type ="submit" value="Short Me">
</div>

<% unless @url.nil? %>
    <div class="shortened_container">
        <div class="short_link">
<!--
        <h1>You just shortened your URL! </h1>
        <p>You have chosen to shorten this link:</p>
        <a><%=@url.long_url%></a>
-->
        <p> Here is your shortened URL:
    	<a id="short_link" href="<%=@url.short_url%>">http://nib.it/<%= @url.short_url %></a>
        </p>
        </div>
    </div>
        
<% end %>
    
</body>