<html>
	<head>
		<title>makemeshort.</title>
        <link rel="stylesheet" href="css/application.css">
    </head>
	<body >
        <div class="container">
            <div class="header">
                <h1 class="logo">
                    makemeshort.
                </h1>
                <p class="slogan">Short but gets the job done.</p>
                <p class="slogan2">Maybe not.</p>
                <div class="form">
                    <%=yield%>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/application.js"></script>
	</body>
    
</html>