<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="css/application.css">
		<title>nitty bitty bitly</title>
	</head>

	<header id="header">
	<div id="inner-header" class="page-title t-center">nitty bitty bitly <%= yield %>
	</div>
	</header>

	<h1 class="slogan t-center">UNLEASH THE KRAKEN!</h1>
    <h2 class="description t-center">A maybe not short shortener making short URLs.
    <a href="">Learn more.</a>
    </h2>

	<body>
		<img src="http://24.media.tumblr.com/tumblr_mb7b7rRQnx1ryc6sso1_500.jpg">
			<img src="http://24.media.tumblr.com/tumblr_mb7b7rRQnx1ryc6sso1_500.jpg">
				<img src="http://24.media.tumblr.com/tumblr_mb7b7rRQnx1ryc6sso1_500.jpg">
	</body>
</html>

