<html>
	<head>
		<title>nitty bitty bitly</title>
		<link rel="stylesheet" href="../../../public/css/application.css">
        
    </head>

	<body id="img">
        <script src="../../../public/js/application.js"></script>
<!--		<%= yield %>-->
        <div class="container">
            <div class="header">
                <h1 class="logo">
                    makemeshort.
                </h1>
                <p class="slogan">Short but gets the job done.</p>
                <p class="slogan2">Maybe not.</p>
                <div class="form">
                    <form action="/urls" method="post">
	                   <input id="form" type ="text" name="long_url" placeholder="Url Here">
                    </form>
                    <div class="button">
                        <input id="button" type ="submit" value="Short Me">
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>