<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="css/application.css">
	<script type="text/javascript" src="main.js"></script>
		<title>nitty bitty bitly</title>
	</head>

	<header id="header">
		<div id="inner-header" class="page-title t-center">nitty bitty bitly </div>
	</header>

<!-- 	<h1 class="slogan t-center">UNLEASH THE KRAKEN</h1>
    <h2 class="description t-center">A maybe not short shortener making short URLs.
    <a href="">Learn more.</a>
    </h2> -->

	<body>
		<!-- <img src="http://24.media.tumblr.com/tumblr_mb7b7rRQnx1ryc6sso1_500.jpg">
		<img src="http://24.media.tumblr.com/tumblr_mb7b7rRQnx1ryc6sso1_500.jpg">
		<img src="http://24.media.tumblr.com/tumblr_mb7b7rRQnx1ryc6sso1_500.jpg"> -->
		<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    	<script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>


    	<div id="container">
    		<canvas id="myCanvas" width="100" height="40"></canvas>
    	</div>


    	<script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>
    	<script type="text/javascript" src="js/application.js"></script>
	</body>
</html>

